/* body {
  background: #000;
}

h1 {
  color: #FF2734;
} */

/* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url('https://c1.staticflickr.com/3/2805/11782583055_c8ab98a04f_h.jpg'); */


body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  /* text-align: center; */
  color: #000;
  background: linear-gradient(rgba(200, 220, 240, 1), rgba(255, 255, 255, 1));
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper{
    width: 1400px;
    margin: 0 auto;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

.container {
  max-width: 1300px;
}
